@import 'bootstrap/dist/css/bootstrap.min.css';

@mixin textarea($width: 80%, $shadow: none, $border-color: default) {
  width: $width;
  &:focus {
    box-shadow: $shadow;
    border-color: $border-color;
  }
}

.textareaInput {
  @include textarea;
}

.textareaOutput {
  @include textarea(80%, none, black);
}
